#title {
    background-color:#ff4c68;
    color:#fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2 {
    font-family: 'Montserat-Bold';
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15%;
}
.navbar {
    padding:0 0 4.5rem;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item {
    padding: 0 1.1rem;
}
.nav-link {
    font-size:1.5rem;
    font-family: "Montserrat-light"
}

/*download buttons*/
.download {
    margin: 5% 3% 5% 3%;
    font-family: 'Ubuntu', sans-serif;

}
.title-img {
    width: 35%;
    transform: rotate(30deg);
    padding-left: 12rem;
    position:absolute;
}
#features {
    background-color: #fff;
    position:relative;
    z-index: 1;
}
.features-container {
    padding: 8rem 15rem;
    font-size: 0.7rem;
}

.fa-solid  {
    padding: 1rem 0;
    color:#ef8172;

}

i:hover {
    color:black;
}


p{
    color:grey;
    padding:0 4rem;
}

/*Testimonial section*/

#testimonials {
   
    text-align: center;
    background-color:#ef8172;
    color:#fff;
}
.testimonial-image {
    width:20%;
    border-radius: 100%;
}
.carousel-item {
    padding: 7% 15%;
}
/*press section*/

#press {
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logos {
    width:15%;
    margin: 1.2rem 1.2rem 3.2rem;
}
#pricing {
    background-color: #F6E1C3;
    text-align: center;
    padding: 4rem 0;
}
.pricing-cards {
    padding: 4rem 0;
}
